<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>controlador.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCuenta</servlet-name>
        <servlet-class>controlador.ControlCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlProducto</servlet-name>
        <servlet-class>controlador.ControlProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMesa</servlet-name>
        <servlet-class>controlador.ControlMesa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCuenta</servlet-name>
        <url-pattern>/ControlCuenta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlProducto</servlet-name>
        <url-pattern>/ControlProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMesa</servlet-name>
        <url-pattern>/ControlMesa.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
