<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>controlador.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUsuario</servlet-name>
        <servlet-class>controlador.SUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Util</servlet-name>
        <servlet-class>controlador.Util</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMesa</servlet-name>
        <servlet-class>controlador.CMesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMesa</servlet-name>
        <servlet-class>controlador.SMesa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUsuario</servlet-name>
        <url-pattern>/SUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Util</servlet-name>
        <url-pattern>/Util.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMesa</servlet-name>
        <url-pattern>/CMesa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMesa</servlet-name>
        <url-pattern>/SMesa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
